<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed </title>  
    <meta charset="utf-8"/>
    
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    
    <header>
      
      <!--Site Name-->
      FoxChatter
      <!--MyMarist Portal-->
      <marquee direction="left"></marquee>
      <img src="images/redfox.png" width="50" height="50"></img>

      <h2><a class="myClass" href="http://www.marist.edu/" style="font-size: 75%;">MyMarist</a></h2>

      <div id="portal_button">

      </div>
    </header>
    <main>
      <marquee direction="left" behavior="left"
      style="border-style: dotted;">
      <p1>Click MyMarist to go to marist.edu! Made by JULIE LY!!</p1>
      </marquee>
      <div id="newsfeed"></div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>
    <script src="/js/feed.js"></script>
  </body>
</html> 
